/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/



/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// normalize: http://necolas.github.io/normalize.css/
//@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
//@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// alert boxes
@import "modules/alerts";

// buttons
//@import "modules/buttons";

// forms (inputs & labels)
//@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

@import 'variables';
@import 'mixins';
@import 'bootstrap';
@import 'font-awesome';
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,400,600,700);

/* Body Styles */
html {
    min-height: 100%;
    position: relative;
    @media (min-width: $screen-md-min) {
    }
}
body {
    font-family: 'Poppins', sans-serif;
    color: $black;
    background-color: $rosebud;
    font-weight: 300;
    margin-bottom: $footer-height;
    height: 100%;
    min-height: 100%;
    @media (min-width: $screen-sm-min) {
        background: #636a7b url('../images/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.container-fluid.page {
    padding: 15px;
    background-color: #FFF;
    @include shadow-2();
    border: 1px solid $crimson;
    @media (min-width: $screen-md-min) {
        margin: 50px 30px;
        padding: 30px;
    }
    @media (min-width: 1300px) {
        @include page-width();
    }
}

/* Default Styles */
h1 {
    font-family: 'Poppins', sans-serif;
    color: $shiraz;
    font-size: 38px;
    font-weight: 600;
    @media (min-width: $screen-sm-min) {
        font-size: 40px;
    }
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $salem;
}
h3 {
    font-weight: 500;
    color: $darkburgundy;
}
a {
    &:hover, &.hover {
        color: $shiraz;
        text-decoration: none;
    }
}
.btn {
    @include shadow-1();
}
.btn-crimson {
    background-color: $crimson;
    color: #FFF;
    border: 1px solid #FFF;
    &:hover {
        background-color: $shiraz;
        color: #FFF;
    }
}
.btn-salem {
    background-color: $salem;
    color: #FFF;
    border: 1px solid #FFF;
    &:hover {
        background-color: $malachite;
        color: #FFF;
    }
}
.input-group-btn .btn {
    box-shadow: none;
    border: 1px solid #ccc;
}
hr {
    border-top: 1px solid $rosebud;
}
label {
    font-weight: 500;
}
.dropdown-menu {
    @include shadow-1();
}

/* Spacing Elements */
@mixin generate-spacing-classes(
  $default-space-amounts-with-direction: (5 left left, 10 left left, 15 left left, 25 left left, 30 left left)
) {
  @each $space in $default-space-amounts-with-direction {
    .margin-#{nth($space, 3)}-#{nth($space, 1)} {
      margin-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
  }
}
$right-space-vars: (5 right right, 10 right right, 15 right right, 25 right right, 30 right right);
$bottom-space-vars: (5 bottom bottom, 10 bottom bottom, 15 bottom bottom, 25 bottom bottom, 30 bottom bottom);
$top-space-vars: (5 top top, 10 top top, 15 top top, 25 top top, 30 top top);

@include generate-spacing-classes(); // left comes by default
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);

/* Header */
header.header {
    background-color: #FFF;
    @include shadow-2();
    //border-bottom: 1px solid $crimson;
    > .container-fluid {
        @include page-width();
        padding: 15px;
    }
    div.logo {
        max-width: 500px;
        img {
            @media (min-width: $screen-md-min) {
                width: 350px;
            }
        }
        img.svg {
            display: none;
        }
    }
    div.cindy {
        margin-top: 20px;
        p {
            padding-top: 15px;
            margin-bottom: 2px;
            a {
                font-size: 18px;
                font-weight: 600;
            }
        }
        .cindy-name {
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            color: $shiraz;
            font-weight: 600;
        }
        img.img-circle {
            @include shadow-1();
            border: 2px solid $malachite;
            max-width: 150px;
            margin-left: 1em;
        }
        img.img-award {
            max-width: 75px;
            margin-left: 1em;
            margin-top: 10px;
        }
    }
}
nav.navbar {
    background-color: $crimson;
    border: 0;
    > .container-fluid {
        @include page-width();
    }
    .navbar-nav {
        > li > a {
            font-weight: 500;
            &:hover,
            &:focus {
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                background-color: $nav-link-hover-bg;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
                background-color: $navbar-default-link-disabled-bg;
            }
        }
        .dropdown-menu {
            background: #FFF;
            > li > a {
                color: $crimson;
                &:hover,
                &:focus {
                    color: #FFF;
                    background-color: $nav-link-hover-bg;
                }
            }
        }
        .widget {
            margin: 0;
            padding: 0;
            a {
                padding-top: 9px;
                padding-bottom: 9px;
                display: inline-block;
                i.fa {
                    //border: 2px solid #FFF;
                    background-color: #FFF;
                    color: $crimson !important;
                    font-size: 1.25em !important;
                }
            }
        }
    }
    .nav.navbar-nav.navbar-right {
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
            float: none !important;
            display: block;
            clear: both;
            margin-top: 2px;
            a:first-child {
                margin-left: 0 !important;
            }
        }
    }
    .navbar-brand {
        color: #FFF;
        height: 61px;
        padding: 20px 15px;
        font-weight: bold;
    }
    .navbar-toggle {
        border: 1px solid #FFF;
        border-radius: 4px;
        width: 95px;
        color: #FFF;
        font-size: 15px;
        line-height: 15px;
        .toggle-text {
            margin-right: 5px;
            line-height: normal;
        }
        .icon-bars {
            margin-top: 5px;
        }
        .icon-bar {
            width: 22px;
            border-radius: 1px;
            background-color: #FFF;
        }
    }
}
/* Display SVG Logo */
html.svg .navbar .navbar-brand {
    img {
        display: none;
    }
    img.svg {
        display: block;
    }
}

/* Footer */
.footer {
    width: 100%;
    background-color: #FFF;
    box-shadow: $top-z1-shadow;
    border-top: 1px solid $crimson;
    //border-bottom: 1px solid $crimson;
    height: $footer-height;
    position: absolute;
    bottom: 0;
    > .container-fluid {
        @include page-width();
        padding: 15px;
        .copyright {
            color: $black;
            //text-align: center;
            font-size: 10px;
            @media (min-width: $screen-sm-min) {
                font-size: 12px;
            }
        }
        .widget {
            padding: 0;
            margin: 0;
            @media (min-width: $screen-sm-min) {
                .alignment {
                    text-align: right;
                }
            }
            a i.fa {
                font-size: 1.25em !important;
            }
        }
    }
    p {
        margin-bottom: 2px;
    }
}

/* Sidebar */
.sidebar {
    .widgettitle {
        border-bottom: 1px solid $rosebud;
    }
    .widget {
        &:first-child {
            margin-top: 0;
        }
        ul {
            padding-left: 15px;
            li {
                list-style: none;
            }
        }
    }
}

/* Admin Menu */
html #wpadminbar {
    @media screen and (max-width: 782px) {
        margin-top: -46px;
    }
}

/* Style Guide Header */
.style-header {
    background-color: #FFF;
    @include shadow-2();
    border-bottom: 1px solid $crimson;
    > .container-fluid {
        @include page-width();
        padding: 15px;
    }
    .logo {
        max-width: 900px;
        img {
            @media (min-width: $screen-md-min) {
                width: 330px;
            }
        }
    }
}

/* Color Swatches */
.color-swatch {
    height: 100px;
    @include shadow-3();
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    &.swatch1 {
        background-color: $crimson;
    }
    &.swatch2 {
        background-color: $carnation;
        &:hover {
            background-color: $rosebud;
        }
    }
    &.swatch3 {
        background-color: $shiraz;
        &:hover {
            background-color: $darkburgundy;
        }
        //color: $black;
    }
    &.swatch4 {
        background-color: $malachite;
    }
    &.swatch5 {
        background-color: $springgreen;
        &:hover {
            background-color: $aquamarine;
        }
    }
    &.swatch6 {
        background-color: $salem;
        &:hover {
            background-color: $englishholly;
        }
        //color: $black;
    }
}
.details {
    color: $text-muted;
}

/* Slideshow */
.slideshow {
    max-width: 865px;
    @include shadow-1();
    .item {
        position: relative;
        > div {
            position: absolute;
            top: 5%;
            z-index: 5;
            color: #FFF;
            font-weight: 500;
            padding: 10px;
            @media (min-width: $screen-md-min) {
                top: 25%;
                left: 25%;
                padding: 25px;
            }
            .text-line-1 {
                font-size: 20px;
                line-height: normal;
                @media (min-width: $screen-md-min) {
                    font-size: 40px;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 45px;
                }
            }
            .text-line-2 {
                font-size: 30px;
                line-height: 30px;
                margin-left: 20px;
                @media (min-width: $screen-md-min) {
                    font-size: 50px;
                    line-height: 40px;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 55px;
                }
            }
            .text-line-3 {
                margin-top: 10px;
                text-align: right;
            }
        }
        img {
            position: relative;
        }
    }
}
.ls-container {
    max-width: 865px;
    @include shadow-1();
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 4px 4px 4px rgba(2, 41, 19, 0.75);
    @media (max-width: $screen-sm-min) {
        .btn.btn-lg {
            font-size: 14px;
            padding: 10px;
        }
    }
}

/* Homepage Contact Form */
body.home .contact-form-container {
    h2 {
        margin-top: 0;
        text-align: center;
    }
    form {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Newsletter Sign Up */
.mc4wp-form .input-group {
    max-width: 300px;
}

/* Homepage Blog */
.display-posts-listing {
    .listing-item {
        clear: both;
        a {
            display: block;
        }
        .title {
            @extend h4;
            margin-bottom: 2px;
        }
        .date {
            display: block;
            margin-bottom: 2px;
            font-size: 14px;
            color: $text-muted;
        }
        .excerpt-dash {
            display: none;
        }
        img {
            float: left;
            margin: 0 1em 1em 0;
            @include shadow-1();
        }
        &:before {
            margin: 15px 0;
            content: ' ';
            display: block;
            clear: both;
            border-bottom: 1px solid $rosebud;
        }
        &:first-child:before {
            display: none;
        }
    }
}
article {
    .byline {
        display: block;
        margin-bottom: 2px;
        font-size: 14px;
        color: $text-muted;
    }
}

/* Blog */
article {
    .blog-list-thumbnail {
        img {
            float: left;
            margin: 0 1em 1em 0;
            @include shadow-1();
        }
    }
    .blog-featured-img {
        img {
            @extend .img-responsive;
            @extend .center-block;
            @include shadow-1();
        }
    }
}

/* 404 */
body.error404 .entry-content {
    @media (min-width: $screen-sm-min) {
        width: 71.4285715%;
        margin-left: auto;
        margin-right: auto;
    }
}
